<%- include('partials/header') %>
<div class="container mt-5">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <h1>Sobre Nós</h1>
  <p>Nosso HUB conecta empresas juniores ao público, promovendo seus projetos.</p>
</div>

<%- include('partials/footer') %>
